@font-face {
  font-family: Jua-Regular;
  src: url(../font/NotoSansKR-Regular.woff);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "NotoSansKR-Regular", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
